<style>
    .inputfile {
        display: none !important;
    }

    .file-box {
        display: inline-block;
        width: 300px;
        box-sizing: border-box;
    }

    .file-button {
        font-size: 25px;
        border-left: 1px solid;
    }

    .gg {
        border: 1px solid;
        padding: 5px 5px 5px 5px;
    }

    table tr, table th, table td {
        border: 1px solid black !important;
    }

    table td,table th {
        text-align: center;
    }
</style>

<h3>File mẫu</h3>
@using (Html.BeginForm("WriteDataToExcel", "Home"))
{
    <button class="btn btn-default">Tải xuống</button>
}

<br />
<h3>Tiến độ thực hiện theo đơn vị</h3>

<div class="inputfile-box">
    @using (Html.BeginForm("ImportTienDoCBQL", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" id="file" name="file" class="inputfile" onchange='uploadFile(this)'>
        <label for="file" class="gg">
            <span id="file-name" class="file-box"></span>
            <span class="file-button">
                ...
            </span>
        </label>
        <button id="tai"  class="btn btn-default" type="submit">Tải file</button>
    }


</div>

<br />
<table>
    <tr>

        <th>
            @using (Html.BeginForm("ResetTienDoCBQL", "Home"))
            {
                <input id="capnhat" type="submit" value="Cập nhật File" class="btn btn-default" />
            }
        <th>
        <th>
            <input type="submit" value="Thoát" class="btn btn-default" />
        <th>
        <th>
            @using (Html.BeginForm("WriteTienDoCBQL", "Home"))
            {
                <input type="submit" value="Xuất File" class="btn btn-default" />
            }
        <th>
    </tr>

</table>
<br />
<table class="table">
    <tr id="alow" style="font-size:15px;">

        <th style="width:5%">
            Mã
        </th>
        <th style="width:10%">
            Chi tiêu
        </th>
        <th style="width:13%">
            Số thu tháng
        </th>

        <th style="width:13%">
            Số thu quý
        </th>
        <th style="width:13%">
            Kế hoạch quý
        </th>
        <th style="width:10%">
            Tỉ lệ quý
        </th>
        <th style="width:13%">
            Số thu năm
        </th>
        <th style="width:13%">
            Kế hoạch năm
        </th>
        <th style="width:10%">
            Tỉ lệ năm
        </th>
    </tr>

    @for (int i = 0; i < 5; i++)
    {
        <tr>
            @for (int j = 0; j < WebReport.Controllers.HomeController.TienDoCBQL1().Columns.Count; j++)
            {
                <td>@WebReport.Controllers.HomeController.TienDoCBQL1().Rows[i][j]</td>
            }
        </tr>
    }
</table>
<h3>Tiến độ thực hiện theo cán bộ</h3>
<div class="inputfile-box">
    @using (Html.BeginForm("ImportTienDoMLNS", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" id="file" name="file" class="inputfile" onchange='uploadFile(this)'>
        <label for="file" class="gg">
            <span id="file-name" class="file-box"></span>
            <span class="file-button">
                ...
            </span>
        </label>
        <button id="submitButton"  class="btn btn-default" type="submit">Tải file</button>
    }


</div>

<br />
<table>
    <tr>

        <th>
            @using (Html.BeginForm("ResetTienDoMLNS", "Home"))
            {
                <input type="submit" value="Cập nhật File" class="btn btn-default" />
            }
        <th>
        <th>
            <input type="submit" value="Thoát" class="btn btn-default" />
        <th>
        <th>
            @using (Html.BeginForm("WriteTienDoMLNS", "Home"))
            {
                <input type="submit" value="Xuất File" class="btn btn-default" />
            }
        <th>
    </tr>

</table>
<table class="table">
    <tr id="abow" style="font-size:15px;">

        <th style="width:5%">
            Mã
        </th>
        <th style="width:10%">
            Chi tiêu
        </th>
        <th style="width:13%">
            Số thu tháng
        </th>

        <th style="width:13%">
            Số thu quý
        </th>
        <th style="width:13%">
            Kế hoạch quý
        </th>
        <th style="width:10%">
            Tỉ lệ quý
        </th>
        <th style="width:13%">
            Số thu năm
        </th>
        <th style="width:13%">
            Kế hoạch năm
        </th>
        <th style="width:10%">
            Tỉ lệ năm
        </th>
    </tr>

    @for (int i = 0; i < 5; i++)
    {
        <tr>
            @for (int j = 0; j < WebReport.Controllers.HomeController.TienDoMLNS1().Columns.Count; j++)
            {
                <td>@WebReport.Controllers.HomeController.TienDoMLNS1().Rows[i][j]</td>
            }
        </tr>
    }
</table>
<h3>Tiến độ thực hiện theo loại thuế</h3>
<div class="inputfile-box">
    <input type="file" id="file" name="file" class="inputfile" onchange='uploadFile(this)'>
    <label for="file" class="gg">
        <span id="file-name" class="file-box"></span>
        <span class="file-button">
            ...
        </span>
    </label>
    <button id="submitButton" class="btn btn-default" type="submit">Tải file</button>
</div>
<br />
<table>
    <tr>
       
        <th>
            <input type="submit" value="Cập nhật File" class="btn btn-default" />
        <th>
        <th>
            <input type="submit" value="Thoát" class="btn btn-default" />
        <th>
        <th>
            <input type="submit" value="Xuất File" class="btn btn-default" />
        <th>
    </tr>
</table>


<!--Show the Data Table on the View after reading the Excel File-->

<script>
    var b = document.querySelector('#alow');
    var c = document.querySelector('#abow');
    b.style.display = 'none';
    c.style.display = 'none';
    function uploadFile(target) {
        document.getElementById("file-name").innerHTML = target.files[0].name;
    }
</script>