@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chi cục thuế khu vực <br/> quận 12 - huyện Hóc Môn</h1>
    <p class="lead">Địa chỉ 282A Nguyễn Ảnh Thủ, phường Hiệp Thành, quận 12, TP Hồ Chí Minh.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Trang chủ nội bộ &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Trang liên kết</h2>
        <p>
            Văn phòng điện tử (VPDT) Cục thuế.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Liên kết  &raquo;</a></p>
        <p>
            Thuế điện tử (eTax) Tổng cục thuế.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Liên kết  &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Báo cáo tiến độ</h2>
        <p>
            Tiến độ thực hiện theo đơn vị.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Liên kết  &raquo;</a></p> <p>
            Tiến độ thực hiện theo cán bộ.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Liên kết  &raquo;</a></p> <p>
            Tiến độ thực hiện theo chỉ tiêu.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Liên kết  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Thông tin nội bộ</h2>
        <p>
            Danh sách cán bộ công chức.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Liên kết  &raquo;</a></p>
    </div>
</div>